@model IEnumerable<Egresados.Models.RegistrarEmpresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistrarEmpresaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistrarEmpresaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistrarEmpresaID })
        </td>
    </tr>
}

</table>
